*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #080710;
}
.lf-background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.lf-background .lf-shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.lf-shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -80px;
}
.lf-shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -30px;
    bottom: -80px;
}
form{
    height: 560px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.lf-login-form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 10%;
    text-align: center;
}

.lf-login-form label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
.lf-login-form input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
.lf-login-form input:focus {
    border: 3px solid #23a2f6;
  }
.lf-login-form ::placeholder{
    color: #e5e5e5;
}

.lf-login-form button:hover {    
    background-image: linear-gradient(to right, #f09819 , #23a2f6) !important;
    color: white !important;
}

.lf-login-form button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}


.lf-signup-form input{ 
    height: 40px !important;
    padding: 0 5px !important;    
}

.lf-signup-form button{
    margin-top: 20px !important;
}

.lf-signup-form label {
    margin-top: 26px !important;
}

.lf-signup-form .social {
    margin-top: 20px !important;
   
}

.lf-forget-login{
    text-align: center;
    padding-top: 5%;
}
.lf-login-form .social{
  margin-top: 30px;
  display: flex;
}
.lf-login-form .social div{
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 10px 10px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
}
.lf-login-form .social div:hover{
  background-color: rgba(255,255,255,0.47);
}
.lf-login-form .social .fb{
  margin-left: 25px;
}

.lf-login-form .social .fb:hover{
    background-color: #23a2f6;
}

.lf-login-form .social .go:hover{
    background-color: #f09819;
}

.lf-login-form .social i{
  margin-right: 4px;
}

.lf-login-form a:link {
    text-decoration: none;
}

a:hover *{
    color: #23a2f6;
}